extends partials/layout

//- Override default config variables
append config
  - var styles = ['vendor/swiper/swiper-bundle.min.css', 'vendor/simplebar/dist/simplebar.min.css', 'vendor/lightgallery/css/lightgallery-bundle.min.css']
  - var scripts = ['vendor/swiper/swiper-bundle.min.js', 'vendor/simplebar/dist/simplebar.min.js', 'vendor/lightgallery/lightgallery.min.js', 'vendor/lightgallery/plugins/video/lg-video.min.js', 'vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js', 'vendor/lightgallery/plugins/zoom/lg-zoom.min.js']
  - var parentMenu = 'Landings'
  - var pageTitle = 'Conference (Event)'


//- Navbar
block navbar
  .dark-mode
    include partials/navbar.pug


//- Page Content
block content

  // Hero
  section.bg-dark.dark-mode.position-relative.py-5
    .position-absolute.top-0.start-0.w-100.h-100(style='background-image: url(assets/img/landing/conference/noise.png); mix-blend-mode: soft-light; opacity: 12%')
    .container.position-relative.zindex-2.py-md-3.py-lg-4.py-xl-5
      .row.align-items-center.justify-content-center.pt-5.pb-2.pb-sm-3.mt-sm-4
        .col-10.col-sm-8.col-md-6.col-xl-5.offset-lg-1.offset-xl-2.order-md-2.pb-3.pb-md-0.mb-3.mb-sm-4.mb-md-0
          .swiper(
            data-swiper-options=`{
              "effect": "creative",
              "loop": true,
              "allowTouchMove": false,
              "speed": 450,
              "autoplay": {
                "delay": 6000,
                "disableOnInteraction": false
              },
              "creativeEffect": {
                "prev": {
                  "shadow": true,
                  "translate": ["-20%", 0, -1]
                },
                "next": {
                  "translate": ["100%", 0, 0]
                }
              },
              "thumbnails": {
                "el": "#thumbnails",
                "images": [
                  "assets/img/landing/conference/hero/th01.jpg",
                  "assets/img/landing/conference/hero/th02.jpg",
                  "assets/img/landing/conference/hero/th03.jpg"
                ]
              }
            }`
            style='border-radius: 50%; border-bottom-right-radius: 0;'
          )
            .swiper-wrapper

              // Item
              .swiper-slide
                .position-relative.overflow-hidden(style='border-bottom-left-radius: 50%; border-top-left-radius: 50%;')
                  img(src='assets/img/landing/conference/hero/01.jpg' alt='Image')
                  .d-flex.align-items-end.justify-content-end.position-absolute.start-0.bottom-0.w-100(style='height: 215px; background: linear-gradient(0deg, rgba(15, 17, 21, 0.8) 0%, rgba(16, 20, 24, 0) 100%);')
                    .text-end.pe-4.pb-4
                      h3.h5.mb-1 Esther Howard
                      p.fs-sm.mb-0 VP of Strategy, Stretto Inc.

              // Item
              .swiper-slide
                .position-relative.overflow-hidden(style='border-bottom-left-radius: 50%; border-top-left-radius: 50%;')
                  img(src='assets/img/landing/conference/hero/02.jpg' alt='Image')
                  .d-flex.align-items-end.justify-content-end.position-absolute.start-0.bottom-0.w-100(style='height: 215px; background: linear-gradient(0deg, rgba(15, 17, 21, 0.8) 0%, rgba(16, 20, 24, 0) 100%);')
                    .text-end.pe-4.pb-4
                      h3.h5.mb-1 Albert Flores
                      p.fs-sm.mb-0 Product Manager, Google

              // Item
              .swiper-slide
                .position-relative.overflow-hidden(style='border-bottom-left-radius: 50%; border-top-left-radius: 50%;')
                  img(src='assets/img/landing/conference/hero/03.jpg' alt='Image')
                  .d-flex.align-items-end.justify-content-end.position-absolute.start-0.bottom-0.w-100(style='height: 215px; background: linear-gradient(0deg, rgba(15, 17, 21, 0.8) 0%, rgba(16, 20, 24, 0) 100%);')
                    .text-end.pe-4.pb-4
                      h3.h5.mb-1 Kathryn Murphy
                      p.fs-sm.mb-0 VP of Marketing, Glassdoor
          
          // Thumbnails
          #thumbnails.swiper-thumbnails.swiper-thumbnails-circle.flex-nowrap.justify-content-end.pt-4

        .col-sm-10.col-md-6.col-lg-5.order-md-1
          .d-flex.align-items-center.lead.pb-3.pb-sm-4.pb-lg-5.mb-2.mb-md-3.mb-lg-0.mb-xl-2
            .text-light Nov 15-16, '23
            .text-warning.mx-3.mx-sm-4
              svg(width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                path(d='M12 0L12.6798 4.12733C13.2879 7.81883 16.1812 10.7121 19.8727 11.3202L24 12L19.8727 12.6798C16.1812 13.2879 13.2879 16.1812 12.6798 19.8727L12 24L11.3202 19.8727C10.7121 16.1812 7.81882 13.2879 4.12733 12.6798L0 12L4.12733 11.3202C7.81883 10.7121 10.7121 7.81882 11.3202 4.12733L12 0Z')
            .text-light Berlin, GE
          h1.display-3.text-uppercase.d-none.d-lg-block.pb-3.mb-4 The biggest international conference
          h1.display-5.text-uppercase.d-lg-none.pb-1.pb-sm-2 The biggest international conference
          p.fs-lg.pb-2.pb-sm-3.pb-md-4.pb-xl-5.mb-xl-2 Mattis aliquet faucibus senectus feugiat sapien mi diam nibh velit nunc purus elementum faucibus lectuset mauris.
          .d-sm-flex
            a(href='#tickets' data-scroll data-scroll-offset='120').btn.btn-lg.btn-primary.w-100.w-md-auto.mb-3.mb-sm-0.me-sm-3.me-lg-4
              | Buy access pass
              i.ai-arrow-down.ms-2.me-n2
            a(href='#').btn.btn-lg.btn-outline-light.w-100.w-md-auto
              i.ai-calendar.me-2.ms-n2
              | Add to calendar
  

  // Statistics
  section.bg-secondary.position-relative.py-4.py-md-5
    .container.position-relative.zindex-2
      .row.row-cols-2.row-cols-md-4
        .col
          .py-3.my-lg-2.my-xl-3
            .text-dark.display-4.mb-1 16
            p.fs-xl.mb-0 Speakers
        .col
          .py-3.ps-xl-4.my-lg-2.my-xl-3
            .text-dark.display-4.mb-1 12+
            p.fs-xl.mb-0 Hours on stage
        .col.d-flex.justify-content-md-center
          .py-3.my-lg-2.my-xl-3
            .text-dark.display-4.mb-1 1,5k
            p.fs-xl.mb-0 Offline attendees
        .col.d-flex.justify-content-md-end
          .py-3.pe-xl-4.my-lg-2.my-xl-3
            .text-dark.display-4.mb-1 100%
            p.fs-xl.mb-0 Good times


  // Target audience
  section.container.pt-5.mt-xl-3.mt-xxl-5
    .row.pt-1.pt-sm-3.pt-md-4.pt-lg-5.mt-xl-2
      .col-lg-4
        h2.h1.pb-1.pb-sm-2.mb-4 Who may attend Conference?
      .col-lg-8.col-xl-7.offset-xl-1
        .ps-lg-4.ps-xl-0
          div(data-simplebar)
            ul(role='tablist').nav.nav-tabs.flex-nowrap.mb-2
              li.nav-item
                a(href='#designers' data-bs-toggle='tab' role='tab').nav-link.text-nowrap.px-4.px-lg-3.px-xl-4.active UI/UX Designers
              li.nav-item
                a(href='#developers' data-bs-toggle='tab' role='tab').nav-link.text-nowrap.px-4.px-lg-3.px-xl-4 Developers
              li.nav-item
                a(href='#managers' data-bs-toggle='tab' role='tab').nav-link.text-nowrap.px-4.px-lg-3.px-xl-4 Managers
              li.nav-item
                a(href='#marketers' data-bs-toggle='tab' role='tab').nav-link.text-nowrap.px-4.px-lg-3.px-xl-4 Marketers
          .tab-content.py-2.pb-md-0.pt-sm-3.pt-lg-4.mb-4.mb-md-5
            #designers.tab-pane.fade.show.active(role='tabpanel')
              p.fs-xl.mb-4 Ipsum sed nascetur dolor accumsan integer phasellus tincidunt. Nulla quisque pellentesque adipiscing placerat integer feugiat facilisi elit mi. Dictum nunc lacinia vel molestie laoreet aliquet ridiculus diam justo viverra.
              ul.fs-xl.mb-0
                li.mb-1 At donec auctor quam ut scelerisque dui.
                li.mb-1 Mollis sed fringilla placerat lobortis viverra aliquam ut nisl nisi.
                li.mb-1 Odio ullamcorper in praesent venenatis non non sed pharetra dipise.
                li.mb-1 Lobortis dui nibh at condimentum.
            #developers.tab-pane.fade(role='tabpanel')
              p.fs-xl.mb-4 Etiam sed porta massa. In sapien metus, lobortis eu tortor id, maximus commodo enim. Phasellus feugiat mi vitae enim cursus, ut scelerisque augue scelerisque. Pellentesque habitant morbi tristique senectus et netus.
              ul.fs-xl.mb-0
                li.mb-1 Donec imperdiet dolor at leo sodales.
                li.mb-1 Fringilla placerat lobortis viverra aliquam ut nisl nisi.
                li.mb-1 Lobortis ullamcorper in praesent venenatis non non sed pharetra dipise.
                li.mb-1 Mollis dui nibh at condimentum.
            #managers.tab-pane.fade(role='tabpanel')
              p.fs-xl.mb-4 Ipsum sed nascetur dolor accumsan integer phasellus tincidunt. Nulla quisque pellentesque adipiscing placerat integer feugiat facilisi elit mi. Dictum nunc lacinia vel molestie laoreet aliquet ridiculus diam justo viverra.
              ul.fs-xl.mb-0
                li.mb-1 At donec auctor quam ut scelerisque dui.
                li.mb-1 Mollis sed fringilla placerat lobortis viverra aliquam ut nisl nisi.
                li.mb-1 Odio ullamcorper in praesent venenatis non non sed pharetra dipise.
                li.mb-1 Lobortis dui nibh at condimentum.
            #marketers.tab-pane.fade(role='tabpanel')
              p.fs-xl.mb-4 Etiam sed porta massa. In sapien metus, lobortis eu tortor id, maximus commodo enim. Phasellus feugiat mi vitae enim cursus, ut scelerisque augue scelerisque. Pellentesque habitant morbi tristique senectus et netus.
              ul.fs-xl.mb-0
                li.mb-1 Donec imperdiet dolor at leo sodales.
                li.mb-1 Fringilla placerat lobortis viverra aliquam ut nisl nisi.
                li.mb-1 Lobortis ullamcorper in praesent venenatis non non sed pharetra dipise.
                li.mb-1 Mollis dui nibh at condimentum.
          a(href='#tickets' data-scroll data-scroll-offset='120').btn.btn-lg.btn-primary.w-100.w-sm-auto
            | Buy access pass
            i.ai-arrow-down.ms-2.me-n2
          

  // Speakers
  section.container.py-5.mb-lg-3.mb-xl-4.mt-xl-3.my-xxl-5
    h2.h1.text-center.pt-2.pt-sm-3.pt-md-4.pt-lg-5.mt-xl-2.mb-5 Meet our speakers
    .mb-4.mb-lg-5.pb-4.px-3(data-simplebar)
      .row.row-cols-lg-4.flex-nowrap.flex-lg-wrap.gy-lg-5.mx-n3
        .col
          a(href='#' style='min-width: 210px;').d-block.text-center.text-decoration-none
            img(src='assets/img/avatar/36.jpg' width='120' alt='Avatar').rounded-circle
            h3.h5.pt-4.mb-1 Marvin McKinney
            p.text-muted.mb-0 Founder &amp; CEO, Uber
        .col
          a(href='#' style='min-width: 210px;').d-block.text-center.text-decoration-none
            img(src='assets/img/avatar/37.jpg' width='120' alt='Avatar').rounded-circle
            h3.h5.pt-4.mb-1 Jenny Wilson
            p.text-muted.mb-0 Marketer, Glassdoor
        .col
          a(href='#' style='min-width: 210px;').d-block.text-center.text-decoration-none
            img(src='assets/img/avatar/38.jpg' width='120' alt='Avatar').rounded-circle
            h3.h5.pt-4.mb-1 Albert Flores
            p.text-muted.mb-0 Product Manager, Google
        .col
          a(href='#' style='min-width: 210px;').d-block.text-center.text-decoration-none
            img(src='assets/img/avatar/39.jpg' width='120' alt='Avatar').rounded-circle
            h3.h5.pt-4.mb-1 Anneta Nikson
            p.text-muted.mb-0 Founder &amp; CEO, Perfecto
        .col
          a(href='#' style='min-width: 210px;').d-block.text-center.text-decoration-none
            img(src='assets/img/avatar/40.jpg' width='120' alt='Avatar').rounded-circle
            h3.h5.pt-4.mb-1 Esther Howard
            p.text-muted.mb-0 VP of Strategy, Stretto Inc.
        .col
          a(href='#' style='min-width: 210px;').d-block.text-center.text-decoration-none
            img(src='assets/img/avatar/41.jpg' width='120' alt='Avatar').rounded-circle
            h3.h5.pt-4.mb-1 Jerome Bell
            p.text-muted.mb-0 Strategic Advisor, Shopify
        .col
          a(href='#' style='min-width: 210px;').d-block.text-center.text-decoration-none
            img(src='assets/img/avatar/42.jpg' width='120' alt='Avatar').rounded-circle
            h3.h5.pt-4.mb-1 Kathryn Murphy
            p.text-muted.mb-0 Marketing Coordinator
        .col
          a(href='#' style='min-width: 210px;').d-block.text-center.text-decoration-none
            img(src='assets/img/avatar/43.jpg' width='120' alt='Avatar').rounded-circle
            h3.h5.pt-4.mb-1 Guy Hawkins
            p.text-muted.mb-0 President of Sales
    .card.bg-primary.overflow-hidden.py-2.py-sm-3.py-md-4.mb-sm-2.mb-md-4
      .bg-dark.position-absolute.top-0.start-0.w-100.h-100.opacity-5
      .position-absolute.top-0.start-0.w-100.h-100.opacity-15(style='background-image: url(assets/img/landing/conference/noise.png); mix-blend-mode: soft-light;')
      .card-body.position-relative.d-sm-flex.align-items-center.justify-content-between.zindex-2.text-center
        .d-md-flex.align-items-center.pe-md-4
          .d-none.d-md-block.text-warning.flex-shrink-0.me-3
            svg(width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(d='M12 0L12.6798 4.12733C13.2879 7.81883 16.1812 10.7121 19.8727 11.3202L24 12L19.8727 12.6798C16.1812 13.2879 13.2879 16.1812 12.6798 19.8727L12 24L11.3202 19.8727C10.7121 16.1812 7.81882 13.2879 4.12733 12.6798L0 12L4.12733 11.3202C7.81883 10.7121 10.7121 7.81882 11.3202 4.12733L12 0Z')
          h2.text-light.pb-1.pb-md-0.mb-md-0 Do you have an experience you want to share?
        a(href='#').btn.btn-lg.btn-warning.me-xl-4 Become our speaker


  // Sponsors
  section.bg-secondary.pb-md-2.pt-lg-2.pb-lg-4.py-xl-4.py-xxl-5
    .container.py-5
      h2.h1.text-center.pb-sm-2.py-md-3.mt-sm-2.mb-lg-4 Sponsored by
      .mb-4.mb-lg-5.pb-3.px-3(data-simplebar)
        .row.row-cols-lg-4.flex-nowrap.flex-lg-wrap.gy-lg-5.mx-n3
          .col(style='min-width: 225px;')
            img(src='assets/img/landing/conference/sponsors/envato-dark.svg' alt='Logo').d-block.d-dark-mode-none.mb-2.mb-lg-2
            img(src='assets/img/landing/conference/sponsors/envato-light.svg' alt='Logo').d-none.d-dark-mode-block.mb-2.mb-lg-2
            p.text-muted.mb-2 Faucibus amet cursus accumsan eleifend tempus diam id duis. Mi velit nulla purus commodo non.
          .col(style='min-width: 225px;')
            img(src='assets/img/landing/conference/sponsors/angular-dark.svg' alt='Logo').d-block.d-dark-mode-none.mb-2.mb-lg-2
            img(src='assets/img/landing/conference/sponsors/angular-light.svg' alt='Logo').d-none.d-dark-mode-block.mb-2.mb-lg-2
            p.text-muted.mb-2 Nulla consequat tincidunt ut aliquet quam dignissim. Sagittis, enim libero ultrices eleifend congue.
          .col(style='min-width: 225px;')
            img(src='assets/img/landing/conference/sponsors/pingdom-dark.svg' alt='Logo').d-block.d-dark-mode-none.mb-2.mb-lg-2
            img(src='assets/img/landing/conference/sponsors/pingdom-light.svg' alt='Logo').d-none.d-dark-mode-block.mb-2.mb-lg-2
            p.text-muted.mb-2 Ornare leo sed gravida quam volutpat vulputate massa aliquam. Sem lacus, quam tellus duis sit pellentesque.
          .col(style='min-width: 225px;')
            img(src='assets/img/landing/conference/sponsors/woocommerce-dark.svg' alt='Logo').d-block.d-dark-mode-none.mb-2.mb-lg-2
            img(src='assets/img/landing/conference/sponsors/woocommerce-light.svg' alt='Logo').d-none.d-dark-mode-block.mb-2.mb-lg-2
            p.text-muted.mb-2 Imperdiet nunc, mauris, sed at egestas. Massa laoreet facilisis turpis adipiscing semper venenatis ipsum.
          .col(style='min-width: 225px;')
            img(src='assets/img/landing/conference/sponsors/magento-dark.svg' alt='Logo').d-block.d-dark-mode-none.mb-2.mb-lg-2
            img(src='assets/img/landing/conference/sponsors/magento-light.svg' alt='Logo').d-none.d-dark-mode-block.mb-2.mb-lg-2
            p.text-muted.mb-2 Purus eu faucibus at vel, aliquam. Faucibus nibh odio sed elementum blandit ut sociis et.
          .col(style='min-width: 225px;')
            img(src='assets/img/landing/conference/sponsors/bootstrap-dark.svg' alt='Logo').d-block.d-dark-mode-none.mb-2.mb-lg-2
            img(src='assets/img/landing/conference/sponsors/bootstrap-light.svg' alt='Logo').d-none.d-dark-mode-block.mb-2.mb-lg-2
            p.text-muted.mb-2 Adipiscing ultrices risus maecenas libero donec nam. In sollicitudin nulla sagittis, neque sit ullamcorper.
          .col(style='min-width: 225px;')
            img(src='assets/img/landing/conference/sponsors/laravel-dark.svg' alt='Logo').d-block.d-dark-mode-none.mb-2.mb-lg-2
            img(src='assets/img/landing/conference/sponsors/laravel-light.svg' alt='Logo').d-none.d-dark-mode-block.mb-2.mb-lg-2
            p.text-muted.mb-2 Pharetra morbi id nibh ut at risus tortor consequat. Dictum urna vulputate quis ut facilisis turpis purus commodo.
          .col(style='min-width: 225px;')
            img(src='assets/img/landing/conference/sponsors/react-dark.svg' alt='Logo').d-block.d-dark-mode-none.mb-2.mb-lg-2
            img(src='assets/img/landing/conference/sponsors/react-light.svg' alt='Logo').d-none.d-dark-mode-block.mb-2.mb-lg-2
            p.text-muted.mb-2 Suspendisse luctus maecenas tristique urna turpis aenean est. Porttitor porta nec tincidunt ut aliquet quam.
      .text-center.mb-2.mb-sm-3
        a(href='#').btn.btn-lg.btn-primary Become sponsor
  

  // Schedule
  section.container.py-5.mb-lg-2.mt-lg-3.my-xl-4.my-xxl-5
    .d-md-flex.align-items-center.justify-content-between.pt-2.pt-sm-3.pb-3.mt-md-3.mb-3.mb-lg-4
      .d-flex.align-items-center.mb-4.mb-md-0
        h2.h1.mb-0 Event schedule
        .text-warning.flex-shrink-0.ps-sm-1.ms-3
          svg(width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            path(d='M12 0L12.6798 4.12733C13.2879 7.81883 16.1812 10.7121 19.8727 11.3202L24 12L19.8727 12.6798C16.1812 13.2879 13.2879 16.1812 12.6798 19.8727L12 24L11.3202 19.8727C10.7121 16.1812 7.81882 13.2879 4.12733 12.6798L0 12L4.12733 11.3202C7.81883 10.7121 10.7121 7.81882 11.3202 4.12733L12 0Z')
      ul(role='tablist').nav.nav-tabs.flex-nowrap.mb-0
        li.nav-item.me-1
          a(href='#dayOne' data-bs-toggle='tab' role='tab').nav-link.px-3.px-sm-4.active Day one (Nov 15)
        li.nav-item
          a(href='#dayTwo' data-bs-toggle='tab' role='tab').nav-link.px-3.px-sm-4 Day two (Nov 16)
    .tab-content.border-top.border-bottom.mb-3.mb-sm-4.mb-lg-5

      // Day 1 tab
      #dayOne.tab-pane.fade.show.active(role='tabpanel')
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 9:30 - 10:30 am
          .col-md-6
            h3.h4.mb-0 Opening party &amp; registration
            p.pt-2.pt-md-3.mb-md-0 Vitae lectus metus non dolor mattis penatibus ultricies aliquet nunc sit metus turpis enim urna nec risus vehicula pharetra diam erat ac proin donec.
          .col-md-3.text-md-end
            .d-inline-flex
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-4(style='padding: 3px;')
                img(src='assets/img/avatar/05.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-3.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/08.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-2.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/09.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-1.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/12.jpg' width='48' alt='Avatar').rounded-circle
        hr
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 10:30 - 11:30 am
          .col-md-6
            h3.h4.mb-0 What are the top ideas for startup in 2023
            p.pt-2.pt-md-3.mb-md-0 Iaculis tellus morbi dui metus non leo pellentesque et euismod et tellus.
          .col-md-3.text-md-end
            .d-inline-flex
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-4(style='padding: 3px;')
                img(src='assets/img/avatar/10.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-3.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/06.jpg' width='48' alt='Avatar').rounded-circle
        hr
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 11:30 - 12:00 am
          .col-md-6
            h3.h4.mb-0 Coffee break
        hr
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 12:00 - 15:00 am
          .col-md-6
            h3.h4.mb-0 Workshop: leading UI/UX design trends
            p.pt-2.pt-md-3.mb-md-0 Mi ullamcorper porttitor auctor nunc dui massa mattis fusce convallis. Aliquam quam nulla faucibus id. Eu cum quisque imperdiet semper ut ligula scelerisque. 
          .col-md-3.text-md-end
            .d-inline-flex
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-4(style='padding: 3px;')
                img(src='assets/img/avatar/19.jpg' width='48' alt='Avatar').rounded-circle
        hr
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 15:00 - 17:30 pm
          .col-md-6
            h3.h4.mb-0 Group discussion: How to align and empower cross-team success
            p.pt-2.pt-md-3.mb-md-0 Vitae lectus metus non dolor mattis penatibus ultricies aliquet nunc sit metus.
          .col-md-3.text-md-end
            .d-inline-flex
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-4(style='padding: 3px;')
                img(src='assets/img/avatar/08.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-3.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/06.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-2.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/09.jpg' width='48' alt='Avatar').rounded-circle

      // Day 2 tab
      #dayTwo.tab-pane.fade(role='tabpanel')
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 12:00 - 15:00 am
          .col-md-6
            h3.h4.mb-0 Workshop: How Blockchain affects modern IT market
            p.pt-2.pt-md-3.mb-md-0 Mi ullamcorper porttitor auctor nunc dui massa mattis fusce convallis. Aliquam quam nulla faucibus id. Eu cum quisque imperdiet semper ut ligula scelerisque. 
          .col-md-3.text-md-end
            .d-inline-flex
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-4(style='padding: 3px;')
                img(src='assets/img/avatar/19.jpg' width='48' alt='Avatar').rounded-circle
        hr
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 9:30 - 10:30 am
          .col-md-6
            h3.h4.mb-0 The future of front-end frameworks
            p.pt-2.pt-md-3.mb-md-0 Vitae lectus metus non dolor mattis penatibus ultricies aliquet nunc sit metus turpis enim urna nec risus vehicula pharetra diam erat ac proin donec.
          .col-md-3.text-md-end
            .d-inline-flex
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-4(style='padding: 3px;')
                img(src='assets/img/avatar/05.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-3.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/08.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-2.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/09.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-1.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/12.jpg' width='48' alt='Avatar').rounded-circle
        hr
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 11:30 - 12:00 am
          .col-md-6
            h3.h4.mb-0 Coffee break
        hr
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 15:00 - 17:30 pm
          .col-md-6
            h3.h4.mb-0 Group discussion: How good UI desig influences our perception
            p.pt-2.pt-md-3.mb-md-0 Vitae lectus metus non dolor mattis penatibus ultricies aliquet nunc sit metus.
          .col-md-3.text-md-end
            .d-inline-flex
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-4(style='padding: 3px;')
                img(src='assets/img/avatar/08.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-3.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/06.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-2.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/09.jpg' width='48' alt='Avatar').rounded-circle
        hr
        .row.py-3.my-2.my-md-3
          .col-md-3
            .h6.mb-2.mb-md-0 10:30 - 11:30 am
          .col-md-6
            h3.h4.mb-0 What are the top ideas for startup in 2024
            p.pt-2.pt-md-3.mb-md-0 Iaculis tellus morbi dui metus non leo pellentesque et euismod et tellus.
          .col-md-3.text-md-end
            .d-inline-flex
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-4(style='padding: 3px;')
                img(src='assets/img/avatar/10.jpg' width='48' alt='Avatar').rounded-circle
              .bg-light.flex-shrink-0.rounded-circle.position-relative.zindex-3.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/06.jpg' width='48' alt='Avatar').rounded-circle



  // Tickets (Pricing)
  section#tickets.container
    .row.border.border-light.rounded-5.overflow-hidden.g-0
      .col-md-7.col-xl-8
        .card.h-100.dark-mode.bg-dark.border-0.rounded-0.py-md-3.py-lg-4.py-xl-5.px-3.px-sm-4.px-lg-5
          .position-absolute.top-0.start-0.w-100.h-100(style='background-image: url(assets/img/landing/conference/noise.png); mix-blend-mode: soft-light; opacity: 12%')
          .card-body.position-relative.zindex-2.py-5.px-2.mx-auto(style='max-width: 732px;')
            h2.h1 In-Person Experience
            p.pb-3.mb-lg-4 Aenean sollicitudin sit convallis auctor egestas urna massa semper ultrices libero suspendisse venenatis urna ac in vitae pharetra aliquam.
            .display-3.text-primary.fw-bold.pb-3.mb-1.mb-lg-3 $299
            ul.list-unstyled.mb-0
              li.d-flex.pt-1.mt-2
                i.ai-circle-check.text-primary.fs-xl.mt-1.me-2
                | Non egestas pretium iaculis venenatis ipsum cras enim et amet.
              li.d-flex.pt-1.mt-2
                i.ai-circle-check.text-primary.fs-xl.mt-1.me-2
                | Et purus quis laoreet ipsum.
              li.d-flex.pt-1.mt-2
                i.ai-circle-check.text-primary.fs-xl.mt-1.me-2
                | Suspendisse turpis vehicula id ornare ut ut sollicitudin tempus vel.
              li.d-flex.pt-1.mt-2
                i.ai-circle-check.text-primary.fs-xl.mt-1.me-2
                | Justo, quam tortor leo sed varius arcu sit rhoncus.
              li.d-flex.pt-1.mt-2
                i.ai-circle-check.text-primary.fs-xl.mt-1.me-2
                | Sed maecenas sit vestibulum id ornare habitasse sit scelerisque.
          .card-footer.w-100.border-0.pt-0.pb-5.px-2.mx-0
            button(type='button').btn.btn-lg.btn-primary Buy ticket
      .col-md-5.col-xl-4.border-top.border-md-0.border-start-md.border-light
        .card.h-100.bg-secondary.border-0.rounded-0.py-md-3.py-lg-4.py-xl-5.px-3.px-sm-4.px-lg-5
          .card-body.py-5.px-2
            h2.h1 Live Stream
            p.pb-3.mb-lg-4 Sit facilisis viverra ullamcorper vestibulum nunc tincidunt egestas.
            .display-3.text-primary.fw-bold.pb-3.mb-1.mb-lg-3 $89
            ul.list-unstyled.mb-0
              li.d-flex.pt-1.mt-2
                i.ai-circle-check.text-primary.fs-xl.mt-1.me-2
                | Integer lacinia quisque etiam quis morbi aliquam commodo.
              li.d-flex.pt-1.mt-2
                i.ai-circle-check.text-primary.fs-xl.mt-1.me-2
                | Neque, ullamcorper elit sit natoque.
              li.d-flex.pt-1.mt-2
                i.ai-circle-check.text-primary.fs-xl.mt-1.me-2
                | Sed orci, lacus, nunc vestibulum mi vel etiam pulvinar erat.
          .card-footer.w-100.border-0.pt-0.pb-5.px-2.mx-0
            button(type='button').btn.btn-lg.btn-primary Buy ticket



  // Testimonials (Infinite slider)
  section.pt-5.mt-lg-3.mt-xl-4.mt-xxl-5
    h2.h1.contaier.text-center.pt-2.pt-sm-3.pt-md-4.pb-3.mt-md-2.mt-xxl-3.mb-lg-4 What attendees say
    .swiper.pb-4(data-swiper-options=`{
      "spaceBetween": 24,
      "loop": true,
      "grabCursor": false,
      "centeredSlides": true,
      "autoplay": {
        "delay": 0,
        "disableOnInteraction": false
      },
      "freeMode": true,
      "speed": 10000,
      "freeModeMomentum": false,
      "breakpoints": {
        "0": { "slidesPerView": 1 },
        "500": { "slidesPerView": 2 },
        "900": { "slidesPerView": 3 },
        "1300": { "slidesPerView": 4 },
        "1600": { "slidesPerView": 5 }
      }
    }`)
      .swiper-wrapper(style='transition-timing-function: linear !important;')
        .swiper-slide.h-auto
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/23.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Wade Warren
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star.text-muted.opacity-70
              p.mb-0 "Sit facilisis dolor arcu, fermentum vestibulum arcu elementum imperdiet. Mauris duis eleifend faucibus amet sagittis amet consequat aucibus."
        .swiper-slide.h-auto
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/26.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Jenny Wilson
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning
              p.mb-0 "Netus vel, amet placerat eget sit eleifend. Urna laoreet ultricies orci feugiat amet egestas semper praesent. Risus ut porttitor metus."
        .swiper-slide.h-auto
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/27.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Bessie Cooper
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-half.text-warning
              p.mb-0 "Netus vel, amet placerat eget sit eleifend. Urna laoreet ultricies orci feugiat amet egestas semper praesent. Risus ut porttitor metus."
        .swiper-slide.h-auto
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/32.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Ralph Edwards
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star.text-muted.opacity-70
              p.mb-0 "Odio viverra tristique id adipiscing varius. Leo vel tincidunt amet arcu. Auctor ipsum fames lacus vestibulum. Ultricies cras et at sed sed turpis."
        .swiper-slide.h-auto
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/28.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Cameron Williamson
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-half.text-warning
              p.mb-0 "Mauris fermentum vitae volutpat orci mattis dolor malesuada porta id. Enim, dis nisi eget tincidunt bibendum leo pulvinar in. At justo hacsit diam."
        .swiper-slide.h-auto
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/24.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Annette Black
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning
              p.mb-0 "Nisi et venenatis vitae, purus arcu. Integer lacus maecenas rhoncus nibh aliquam, enim sollicitudin interdum hendrerit. Proin venenatis varius."


    .swiper(dir='rtl' data-swiper-options=`{
      "spaceBetween": 24,
      "loop": true,
      "grabCursor": false,
      "centeredSlides": true,
      "autoplay": {
        "delay": 0,
        "disableOnInteraction": false
      },
      "freeMode": true,
      "speed": 10000,
      "freeModeMomentum": false,
      "breakpoints": {
        "0": { "slidesPerView": 1 },
        "500": { "slidesPerView": 2 },
        "900": { "slidesPerView": 3 },
        "1300": { "slidesPerView": 4 },
        "1600": { "slidesPerView": 5 }
      }
    }`)
      .swiper-wrapper(style='transition-timing-function: linear !important;')
        .swiper-slide.h-auto(dir='ltr')
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/23.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Guy Hawkins
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star.text-muted.opacity-70
              p.mb-0 "Sit facilisis dolor arcu, fermentum vestibulum arcu elementum imperdiet. Mauris duis eleifend faucibus amet sagittis amet consequat aucibus."
        .swiper-slide.h-auto(dir='ltr')
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/22.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Esther Howard
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning
              p.mb-0 "Netus vel, amet placerat eget sit eleifend. Urna laoreet ultricies orci feugiat amet egestas semper praesent. Risus ut porttitor metus."
        .swiper-slide.h-auto(dir='ltr')
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/27.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Anneta Nikson
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-half.text-warning
              p.mb-0 "Netus vel, amet placerat eget sit eleifend. Urna laoreet ultricies orci feugiat amet egestas semper praesent. Risus ut porttitor metus."
        .swiper-slide.h-auto(dir='ltr')
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/32.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Darrell Steward
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star.text-muted.opacity-70
              p.mb-0 "Odio viverra tristique id adipiscing varius. Leo vel tincidunt amet arcu. Auctor ipsum fames lacus vestibulum. Ultricies cras et at sed sed turpis."
        .swiper-slide.h-auto(dir='ltr')
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/28.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Martha Stewart
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-half.text-warning
              p.mb-0 "Mauris fermentum vitae volutpat orci mattis dolor malesuada porta id. Enim, dis nisi eget tincidunt bibendum leo pulvinar in. At justo hacsit diam."
        .swiper-slide.h-auto(dir='ltr')
          .card.h-100.border-0.bg-secondary.rounded-4
            .card-body
              .d-flex.align-items-center.mb-4
                img(src='assets/img/avatar/24.jpg' width='60' alt='Avatar').rounded-circle
                .ps-3
                  .h5.mb-0 Kathryn Murphy
                  .text-nowrap
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning.me-1
                    i.ai-star-filled.text-warning
              p.mb-0 "Nisi et venenatis vitae, purus arcu. Integer lacus maecenas rhoncus nibh aliquam, enim sollicitudin interdum hendrerit. Proin venenatis varius."


  // Gallery
  section.container.py-5.my-lg-3.my-xl-4.my-xxl-5
    .py-2.py-sm-3.py-md-4.my-md-2.my-xxl-3
      h2.h1.text-center.pt-xxl-1 See how the previous event unfolded
      p.fs-lg.text-center.pb-3.mb-lg-4 Get inspired with a selection of the keynotes about the Conference 2022
      .gallery.row.g-3.g-md-4(data-video='true')
        .col-sm-6
          .row.g-3.g-md-4
            .col-6
              a(href='assets/img/landing/conference/gallery/01.jpg').gallery-item.d-block.card-hover.zoom-effect
                .d-flex.justify-content-center.align-items-center.position-absolute.top-0.start-0.w-100.h-100.rounded-4.overflow-hidden.zindex-2.opacity-0
                  i.ai-zoom-in.fs-2.text-white.position-relative.zindex-2
                  .position-absolute.top-0.start-0.w-100.h-100.bg-dark.opacity-40
                .zoom-effect-wrapper.rounded-4
                  img(src='assets/img/landing/conference/gallery/th01.jpg' alt='Auditorium').zoom-effect-img
            .col-6
              a(href='assets/img/landing/conference/gallery/02.jpg').gallery-item.d-block.card-hover.zoom-effect
                .d-flex.justify-content-center.align-items-center.position-absolute.top-0.start-0.w-100.h-100.rounded-4.overflow-hidden.zindex-2.opacity-0
                  i.ai-zoom-in.fs-2.text-white.position-relative.zindex-2
                  .position-absolute.top-0.start-0.w-100.h-100.bg-dark.opacity-40
                .zoom-effect-wrapper.rounded-4
                  img(src='assets/img/landing/conference/gallery/th02.jpg' alt='Comfortable chairs').zoom-effect-img
            .col-12
              a(href='https://www.youtube.com/watch?v=5-A8_ocajCM').gallery-item.d-block.card-hover.zoom-effect
                .btn.btn-icon.btn-lg.btn-primary.rounded-circle.pe-none.position-absolute.top-50.start-50.translate-middle.zindex-3
                  i.ai-play-filled
                .position-absolute.top-0.start-0.w-100.h-100.rounded-4.overflow-hidden.zindex-2.opacity-0
                  .position-absolute.top-0.start-0.w-100.h-100.bg-dark.opacity-40
                .zoom-effect-wrapper.rounded-4
                  img(src='assets/img/landing/conference/gallery/th05.jpg' alt='Conferece showreel').zoom-effect-img
        .col-sm-6
          .row.g-3.g-md-4
            .col-6.order-sm-2
              a(href='assets/img/landing/conference/gallery/03.jpg').gallery-item.d-block.card-hover.zoom-effect
                .d-flex.justify-content-center.align-items-center.position-absolute.top-0.start-0.w-100.h-100.rounded-4.overflow-hidden.zindex-2.opacity-0
                  i.ai-zoom-in.fs-2.text-white.position-relative.zindex-2
                  .position-absolute.top-0.start-0.w-100.h-100.bg-dark.opacity-40
                .zoom-effect-wrapper.rounded-4
                  img(src='assets/img/landing/conference/gallery/th03.jpg' alt='Whiteboard').zoom-effect-img
            .col-6.order-sm-3
              a(href='assets/img/landing/conference/gallery/04.jpg').gallery-item.d-block.card-hover.zoom-effect
                .d-flex.justify-content-center.align-items-center.position-absolute.top-0.start-0.w-100.h-100.rounded-4.overflow-hidden.zindex-2.opacity-0
                  i.ai-zoom-in.fs-2.text-white.position-relative.zindex-2
                  .position-absolute.top-0.start-0.w-100.h-100.bg-dark.opacity-40
                .zoom-effect-wrapper.rounded-4
                  img(src='assets/img/landing/conference/gallery/th04.jpg' alt='Coffee break').zoom-effect-img
            .col-12.order-sm-1
              a(href='https://www.youtube.com/watch?v=Omr18ybhPKI').gallery-item.d-block.card-hover.zoom-effect
                .btn.btn-icon.btn-lg.btn-primary.rounded-circle.pe-none.position-absolute.top-50.start-50.translate-middle.zindex-3
                  i.ai-play-filled
                .position-absolute.top-0.start-0.w-100.h-100.rounded-4.overflow-hidden.zindex-2.opacity-0
                  .position-absolute.top-0.start-0.w-100.h-100.bg-dark.opacity-40
                .zoom-effect-wrapper.rounded-4
                  img(src='assets/img/landing/conference/gallery/th06.jpg' alt='Speaker on stage').zoom-effect-img
      .text-center.pb-lg-2.pb-xl-3.pb-xxl-3.pt-4.pt-md-5.mt-3.mt-md-0
        a(href='#').btn.btn-lg.btn-outline-primary
          | See more
          i.ai-image.ms-2


  // Contact form
  section.bg-primary.ignore-dark-mode.position-relative.py-5
    .bg-dark.position-absolute.top-0.start-0.w-100.h-100.opacity-5
    .position-absolute.top-0.start-0.w-100.h-100.opacity-15(style='background-image: url(assets/img/landing/conference/noise.png); mix-blend-mode: soft-light;')
    .container.position-relative.zindex-2.pt-sm-2.pb-3.py-md-4.py-lg-5
      .row.align-items-center
        .col-md-6.col-lg-5.col-xxl-4.pb-2.pb-md-0.mb-4.mb-md-0
          .text-warning.pb-3.mb-1.mb-md-2.mb-lg-3
            svg(width='28' height='28' viewBox='0 0 28 28' fill='currentColor' xmlns='http://www.w3.org/2000/svg').d-block
              path(d='M14 0L14.659 4.14233C15.4424 9.06596 20.2555 12.9977 26.4868 13.8042L28 14L26.4868 14.1958C20.2555 15.0023 15.4424 18.934 14.659 23.8577L14 28L13.341 23.8577C12.5576 18.934 7.74447 15.0023 1.51323 14.1958L0 14L1.51323 13.8042C7.74447 12.9977 12.5576 9.06596 13.341 4.14234L14 0Z')
          h2.display-5.text-light.mb-4.mb-md-5 This is the event that can not be missed!
          .d-flex.align-items-center
            .d-flex.me-3
              .bg-white.flex-shrink-0.rounded-circle.position-relative.zindex-4(style='padding: 3px;')
                img(src='assets/img/avatar/05.jpg' width='48' alt='Avatar').rounded-circle
              .bg-white.flex-shrink-0.rounded-circle.position-relative.zindex-3.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/08.jpg' width='48' alt='Avatar').rounded-circle
              .bg-white.flex-shrink-0.rounded-circle.position-relative.zindex-2.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/09.jpg' width='48' alt='Avatar').rounded-circle
              .bg-white.flex-shrink-0.rounded-circle.position-relative.zindex-1.ms-n3(style='padding: 3px;')
                img(src='assets/img/avatar/12.jpg' width='48' alt='Avatar').rounded-circle
            p.text-light.mb-0 <strong>1.5k</strong> <span class='text-light opacity-70'>attendees</span>
        .col-md-6.offset-lg-1.offset-xxl-2
          .card.bg-white.border-0.p-1.p-sm-2.p-lg-3
            form(novalidate).card-body.needs-validation.p-4
              .mb-4
                label(for='email').form-label.fs-base Email
                input(type='email' placeholder='Email address' required)#email.form-control.form-control-lg
                .invalid-feedback Please provide a valid email address!
              .mb-4
                label(for='name').form-label.fs-base Name
                input(type='text' placeholder='Your name' required)#name.form-control.form-control-lg
                .invalid-feedback Please enter your name!
              .mb-4
                label(for='message').form-label.fs-base Message
                textarea(rows='5' placeholder='Your message' required)#message.form-control.form-control-lg
                .invalid-feedback Please enter your message!
              button(type='submit').btn.btn-lg.btn-warning Send request


//- Footer
block footer
  
  // Footer
  footer.footer.dark-mode.bg-dark.py-5
    .container.pt-1.pt-sm-2.pt-md-3.pt-lg-4.pt-xl-5
      .border-bottom.text-center.pb-4
        a(href='index.html').navbar-brand.d-inline-flex.text-nav.py-0.mb-3.mb-md-4
          span.text-primary.flex-shrink-0.me-2
            svg(version='1.1' width='35' height='32' viewBox='0 0 36 33' xmlns='http://www.w3.org/2000/svg')
              path(fill='currentColor' d='M35.6,29c-1.1,3.4-5.4,4.4-7.9,1.9c-2.3-2.2-6.1-3.7-9.4-3.7c-3.1,0-7.5,1.8-10,4.1c-2.2,2-5.8,1.5-7.3-1.1c-1-1.8-1.2-4.1,0-6.2l0.6-1.1l0,0c0.6-0.7,4.4-5.2,12.5-5.7c0.5,1.8,2,3.1,3.9,3.1c2.2,0,4.1-1.9,4.1-4.2s-1.8-4.2-4.1-4.2c-2,0-3.6,1.4-4,3.3H7.7c-0.8,0-1.3-0.9-0.9-1.6l5.6-9.8c2.5-4.5,8.8-4.5,11.3,0L35.1,24C36,25.7,36.1,27.5,35.6,29z')
          span Around
        ul.nav.justify-content-center.py-1.pb-sm-2
          li.nav-item: a(href='#').nav-link.py-2.px-3.mx-1 About
          li.nav-item: a(href='#').nav-link.py-2.px-3.mx-1 Speakers
          li.nav-item: a(href='#').nav-link.py-2.px-3.mx-1 Event schedule
          li.nav-item: a(href='#').nav-link.py-2.px-3.mx-1 Tickets
          li.nav-item: a(href='#').nav-link.py-2.px-3.mx-1 Reviews
      .d-sm-flex.align-items-center.justify-content-between.pt-4.mt-2.mt-sm-0
        .d-flex.justify-content-center.order-sm-2.mb-4.mb-sm-0
          a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-instagram.rounded-circle.me-3
            i.ai-instagram
          a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-facebook.rounded-circle.me-3
            i.ai-facebook
          a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-youtube.rounded-circle
            i.ai-youtube
        p.fs-sm.order-sm-1.text-center.mb-0
          span.opacity-70 &copy; All rights reserved. Made by 
          a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link.d-inline.fw-normal.p-0 Createx Studio
